@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  background: #eeeeee;
}

/* =================================
   Typography
   ================================= */
body {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #767197;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #2b3035;
}

/* =================================
   Layout
   ================================= */
#wrapper {
  padding-left: 64px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -310px;
  left: 310px;
  width: 64px;
  background: #2b3035;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#content-wrapper {
  width: 100%;
}

.main-content.padding {
  padding: 20px;
}

/* =================================
   Sidebar
   ================================= */
.sidebar-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 100%;
  background: #32383d;
  text-align: center;
}
.sidebar-icon li {
  height: 64px;
  line-height: 60px;
}
.sidebar-icon li a {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
}
.sidebar-icon li a i {
  font-size: 22px;
}
.sidebar-icon li a:hover {
  color: #fff;
  text-decoration: none;
  background: #2b3035;
}

.sidebar-header {
  background: #767197;
  height: 64px;
  line-height: 60px;
}

.sidebar-group {
  position: absolute;
  top: 0;
  left: 64px;
  width: 246px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-group li {
  line-height: 40px;
  text-indent: 20px;
  color: #8693a0;
  font-size: 18px;
  font-weight: lighter;
  font-family: "Maven Pro", sans-serif;
}
.sidebar-group li a {
  color: #8693a0;
  display: block;
}
.sidebar-group li a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
.sidebar-group > .navigation-header {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  height: 64px;
  line-height: 60px;
  color: #c9d5e0;
}

/* =================================
   Header
   ================================= */
.main-header {
  background: white;
  height: 64px;
  line-height: 64px;
}
.main-header h3 {
  color: #2f4254;
  margin: 0;
  margin-left: 20px;
  line-height: 60px;
  display: inline-block;
}

.user-profile {
  float: right;
  margin-right: 20px;
  height: 64px;
  line-height: 60px;
  position: relative;
}
.user-profile a:hover {
  text-decoration: none;
}
.user-profile img {
  max-height: 32px;
}
.user-profile .user-dropdown {
  display: block;
  height: 64px;
  padding: 0 15px;
}
.user-profile .user-dropdown:hover {
  background: #767197;
  color: #fff;
}

.user-profile.open > a {
  background: #767197;
  color: #fff;
}

#show-menu {
  display: none;
}

/* =================================
   Modules
   ================================= */
.module {
  background: #fff;
  border-bottom: 2px solid #59636d;
  margin-bottom: 20px;
}
.module .module-header {
  background: #59636d;
  color: #fff;
  padding: 15px 20px;
}
.module .module-header.no-padding {
  padding: 0;
}
.module .module-header > .nav {
  font-family: "Montserrat", sans-serif;
}
.module .module-header h4 {
  margin: 0;
  padding: 0;
}
.module .module-content {
  padding: 15px 20px;
}
.module.no-padding .module-content {
  padding: 0;
}
.module.no-padding .module-content table {
  margin-bottom: 0;
}

.box-module {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-top: 3px solid #767197;
  transition: all 0.4s ease 0s;
}
.box-module small {
  color: #a1a1a1;
  font-size: 14px;
}
.box-module h3 {
  margin-top: 0;
  color: #2b3035;
}
.box-module h3 span, .box-module h3 i {
  color: #a1a1a1;
}
.box-module h3 span {
  font-size: 13px;
}
.box-module .stats-positive span, .box-module .stats-positive i {
  color: #6dba89;
}
.box-module .stats-negative span, .box-module .stats-negative i {
  color: #d54a51;
}
.box-module .stats-stagnant span, .box-module .stats-stagnant i {
  color: #e68a72;
}
.box-module .mini-graph {
  float: left;
  margin-right: 10px;
}

.module-green {
  border-color: #6dba89;
}
.module-green .module-header {
  background: #6dba89;
}
.module-green h1 {
  color: #6dba89;
}

.module-orange {
  border-color: #e68a72;
}
.module-orange .module-header {
  background: #e68a72;
}
.module-orange h1 {
  color: #e68a72;
}

.module-red {
  border-color: #d54a51;
}
.module-red .module-header {
  background: #d54a51;
}
.module-red h1 {
  color: #d54a51;
}

.module-blue {
  border-color: #6eb8d3;
}
.module-blue .module-header {
  background: #6eb8d3;
}
.module-blue h1 {
  color: #6eb8d3;
}

.module-yellow {
  border-color: #ffd36d;
}
.module-yellow .module-header {
  background: #ffd36d;
}
.module-yellow h1 {
  color: #ffd36d;
}

.module-grape {
  border-color: #ed5564;
}
.module-grape .module-header {
  background: #ed5564;
}
.module-grape h1 {
  color: #ed5564;
}

.module-pink {
  border-color: #ec87c1;
}
.module-pink .module-header {
  background: #ec87c1;
}
.module-pink h1 {
  color: #ec87c1;
}

.module-purple {
  border-color: #a77a94;
}
.module-purple .module-header {
  background: #a77a94;
}
.module-purple h1 {
  color: #a77a94;
}

.module-deepsea {
  border-color: #247882;
}
.module-deepsea .module-header {
  background: #247882;
}
.module-deepsea h1 {
  color: #247882;
}

.module-content .module-subtitle:first-child {
  margin-top: 0;
}

.module-subtitle {
  margin-bottom: 15px;
  box-shadow: inset 0 -2px 0 #eee;
  padding: 0 0 9px 0;
  color: #7f7f7f;
}
.module-subtitle span {
  padding-bottom: 5px;
  border-bottom: 2px solid #767197;
}

/* =================================
   Error page
   ================================= */
.full-page {
  background: #767197;
  color: #fff;
  text-align: center;
  margin: 100px 0;
}
.full-page h1 {
  font-size: 72px;
  display: block;
}
.full-page a {
  color: #fff;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}
.login-box h1 {
  font-size: 22px;
  color: #767197;
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
}
.login-box .form-control {
  margin-bottom: 20px;
}
.login-box a {
  color: #767197;
  float: right;
}

/* =================================
   Alerts
   ================================= */
.alert {
  border-radius: 0;
  border: 0;
}
.alert.alert-success {
  background: #6dba89;
  color: #f8fbf9;
  border-left: 3px solid #3e8357;
}
.alert.alert-info {
  background: #6eb8d3;
  color: white;
  border-left: 3px solid #3389a8;
}
.alert.alert-warning {
  background: #e68a72;
  color: white;
  border-left: 3px solid #ce4724;
}
.alert.alert-danger {
  background: #d54a51;
  color: #fbf0f0;
  border-left: 3px solid #962329;
}
.alert a {
  color: #fff;
  text-decoration: underline;
}

.close {
  opacity: 0.5;
}

/* =================================
   Buttons
   ================================= */
.btn {
  border-radius: 0;
  border: 0;
  color: #2b3035;
  background: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
  background: #2b3035;
  color: #fff;
}
.btn:hover .caret, .btn:focus .caret, .btn:active .caret, .btn.active .caret {
  border-top-color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background: #2b3035;
}

.btn-primary {
  border-color: #767197;
  color: #fff;
  background: #767197;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background: #5e5a7b;
  color: #fff;
}

.btn-success {
  border-color: #6dba89;
  color: #fff;
  background: #6dba89;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  background: #4ea66e;
  color: #fff;
}

.btn-info {
  border-color: #6eb8d3;
  color: #fff;
  background: #6eb8d3;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  background: #47a5c7;
  color: #fff;
}

.btn-warning {
  border-color: #ffd36d;
  color: #fff;
  background: #ffd36d;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  background: #ffc43a;
  color: #fff;
}

.btn-danger {
  border-color: #d54a51;
  color: #fff;
  background: #d54a51;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  background: #c02c34;
  color: #fff;
}

.btn-orange {
  border-color: #e68a72;
  color: #fff;
  background: #e68a72;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active {
  background: #de6647;
  color: #fff;
}

.btn-pink {
  border-color: #ec87c1;
  color: #fff;
  background: #ec87c1;
}
.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active {
  background: #e55baa;
  color: #fff;
}

.btn-grape {
  border-color: #ed5564;
  color: #fff;
  background: #ed5564;
}
.btn-grape:hover, .btn-grape:focus, .btn-grape:active, .btn-grape.active {
  background: #e8273a;
  color: #fff;
}

.btn-deepsea {
  border-color: #247882;
  color: #fff;
  background: #247882;
}
.btn-deepsea:hover, .btn-deepsea:focus, .btn-deepsea:active, .btn-deepsea.active {
  background: #19535a;
  color: #fff;
}

.btn-lime {
  border-color: #bfd841;
  color: #fff;
  background: #bfd841;
}
.btn-lime:hover, .btn-lime:focus, .btn-lime:active, .btn-lime.active {
  background: #a6bf27;
  color: #fff;
}

.btn-facebook {
  border-color: #3b5998;
  color: #fff;
  background: #3b5998;
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
  background: #2d4373;
  color: #fff;
}

.btn-twitter {
  border-color: #00acee;
  color: #fff;
  background: #00acee;
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
  background: #0087bb;
  color: #fff;
}

.btn-linkedin {
  border-color: #1783bc;
  color: #fff;
  background: #1783bc;
}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active {
  background: #11638f;
  color: #fff;
}

.btn-group.open .caret {
  border-top-color: #fff;
}

.btn-group.open .btn-default .caret {
  border-top-color: #2b3035;
}

/* =================================
   Tables
   ================================= */
.table thead th {
  background: #767197;
  color: #fff;
  text-transform: uppercase;
  border: 0 !important;
}

.table thead > tr > th, .table tbody > tr > th,
.table tfoot > tr > th, .table thead > tr > td,
.table tbody > tr > td, .table tfoot > tr > td {
  border-color: #ccd6e0;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background: #f6f6f6;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th {
  border: 0 !important;
}

.table-bordered {
  border-color: #767197;
}

.table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border-color: #ccd6e0;
}

.table .progress {
  margin-bottom: 0;
}

/* =================================
   Tabs
   ================================= */
.nav-tabs {
  border-bottom: 0;
}

.nav-tabs > li {
  margin-bottom: 0;
}

.nav-tabs > li > a {
  border-radius: 0;
  border: 0;
  background: #2b3035;
  color: #fff;
  margin-right: 0;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > a:active, .nav-tabs > li > a.active, .nav-tabs > li > a.open {
  background: black;
}
.nav-tabs > li > a:hover .caret, .nav-tabs > li > a:focus .caret, .nav-tabs > li > a:active .caret, .nav-tabs > li > a.active .caret, .nav-tabs > li > a.open .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs > li > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 0;
  background: #767197;
  color: #fff;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: #767197;
  color: #fff;
}
.nav .open > a .caret, .nav .open > a:hover .caret, .nav .open > a:focus .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-pills > li > a {
  border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #767197;
}

.panel-default {
  border-color: #767197;
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-color: #767197;
  border-color: #767197;
  border-radius: 0;
}

.panel-title a {
  color: #e8e7ed;
}
.panel-title a:hover, .panel-title a:active, .panel-title a:focus {
  color: #fff;
}

.panel-group .panel {
  border-radius: 0;
}

/* =================================
   Progress bars
   ================================= */
.progress {
  border-radius: 0;
  box-shadow: none;
  background-color: #e8e8e8;
  height: 15px;
}

.progress-bar {
  background-color: #767197;
  box-shadow: none;
}

.progress-bar-success {
  background-color: #6dba89;
}

.progress-bar-info {
  background-color: #6eb8d3;
}

.progress-bar-warning {
  background-color: #e68a72;
}

.progress-bar-danger {
  background-color: #d54a51;
}

/* =================================
   List groups
   ================================= */
.list-group-item:first-child, .list-group-item:last-child {
  border-radius: 0;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #767197;
  border-color: #767197;
}

/* =================================
   Labels
   ================================= */
.label {
  border-radius: 0;
}

.label-primary {
  background-color: #767197;
}

.label-success {
  background-color: #6dba89;
}

.label-info {
  background-color: #6eb8d3;
}

.label-warning {
  background-color: #e68a72;
}

.label-danger {
  background-color: #d54a51;
}

/* =================================
   Forms
   ================================= */
.form-control {
  border-radius: 0;
  box-shadow: none;
  border-width: 2px;
  border-color: #e8e8e8;
  height: 38px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #767197;
}

.control-label {
  font-weight: normal;
}

.input-group-addon {
  border: 0;
  background: #e8e8e8;
  border-radius: 0;
}

.input-group .btn {
  height: 38px;
}

.has-success .help-block, .has-success .control-label {
  color: #6dba89;
}

.has-success .form-control {
  border-color: #6dba89;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #3e8357;
  box-shadow: none;
}

.has-warning .help-block, .has-warning .control-label {
  color: #e68a72;
}

.has-warning .form-control {
  border-color: #e68a72;
  box-shadow: none;
}
.has-warning .form-control:focus {
  border-color: #ce4724;
  box-shadow: none;
}

.has-error .help-block, .has-error .control-label {
  color: #d54a51;
}

.has-error .form-control {
  border-color: #d54a51;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #962329;
  box-shadow: none;
}

.input-avatar {
  overflow: hidden;
  margin-bottom: 15px;
}
.input-avatar a {
  margin-bottom: 10px;
}
.input-avatar .input-avatar-preview {
  background: #e8e8e8;
  height: 75px;
  width: 75px;
  text-align: center;
  line-height: 75px;
  color: #a1a1a1;
  float: left;
  margin-right: 15px;
}

/* =================================
   Components
   Tasks
   ================================= */
.list-tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-tasks li {
  padding: 10px 15px;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
.list-tasks li span {
  float: left;
  height: 24px;
  margin-top: 15px;
  margin-right: 15px;
  color: #6dba89;
}
.list-tasks li small {
  color: #a1a1a1;
}
.list-tasks li a {
  display: block;
  font-size: 22px;
}
.list-tasks li > i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #e8e8e8;
}
.list-tasks li.task-tag-red {
  border-left: 2px solid #d54a51;
}
.list-tasks li.task-tag-blue {
  border-left: 2px solid #6eb8d3;
}
.list-tasks li.task-tag-yellow {
  border-left: 2px solid #ffd36d;
}
.list-tasks li.task-tag-green {
  border-left: 2px solid #6dba89;
}
.list-tasks .task-header {
  background: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 5px 14px;
  text-transform: uppercase;
  border: 0;
}
.list-tasks .task-header.task-overdue {
  background: #d54a51;
  color: #fff;
}

/* =================================
   Activity feed
   ================================= */
.activity-feed-wrapper {
  box-shadow: inset 5px 0 0 #e8e8e8;
}
.activity-feed-wrapper .activity-feed-items {
  padding: 0 0 0 16px;
}
.activity-feed-wrapper .activity-feed-items .activity-feed-item {
  border: 2px solid #e8e8e8;
  margin-bottom: 15px;
  padding: 15px;
  transition: all 0.4s ease 0s;
}
.activity-feed-wrapper .activity-feed-items .activity-feed-item h4 {
  margin-top: 0;
  color: #767197;
}
.activity-feed-wrapper .activity-feed-items .activity-feed-item h4 i {
  color: #e8e8e8;
}
.activity-feed-wrapper .activity-feed-items .activity-feed-item small {
  color: #a1a1a1;
}
.activity-feed-wrapper .activity-feed-items .activity-feed-item span {
  text-indent: -9999px;
  width: 13px;
  height: 13px;
  background: #767197;
  display: block;
  border-radius: 12px;
  float: left;
  margin-left: -37px;
}
.activity-feed-wrapper .activity-feed-items .activity-feed-item:hover {
  border-color: #2b3035;
}

/* =================================
   User list
   ================================= */
.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.user-list li {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.user-list li small {
  display: block;
  font-weight: normal;
  color: #a1a1a1;
}
.user-list li img {
  float: left;
  margin-right: 10px;
  max-height: 50px;
}
.user-list li a {
  font-weight: bold;
}
.user-list li i {
  position: absolute;
  right: 0;
  top: 15px;
}

.status-online {
  color: #6dba89;
}

.status-offline {
  color: #d54a51;
}

/* =================================
   Knobs
   ================================= */
.donut-stats {
  display: inline-block;
  margin: 15px 10px;
  text-align: center;
}

/* =================================
   Dropdown menu
   ================================= */
.dropdown-menu {
  border-radius: 0;
  border-width: 2px;
  border-color: #2b3035;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #2b3035;
}

/* =================================
   Morris.js
   ================================= */
.chart {
  height: 200px;
}

.morris-hover {
  position: absolute;
  z-index: 1000;
}

.morris-hover.morris-default-style {
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.9);
  border: solid 2px #767197;
  font-size: 14px;
  text-align: center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0;
}

/* =================================
   Full calendar
   ================================= */
.fc {
  direction: ltr;
  text-align: left;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}

html .fc,
.fc table {
  font-size: 1em;
}

.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}

/* Header
------------------------------------------------------------------------*/
.fc-header td {
  white-space: nowrap;
}

.fc-header-left {
  width: 25%;
  text-align: left;
}

.fc-header-center {
  text-align: center;
}

.fc-header-right {
  width: 25%;
  text-align: right;
}

.fc-header-title {
  display: inline-block;
  vertical-align: top;
}

.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
  color: #767197;
  font-size: 24px;
}

.fc .fc-header-space {
  padding-left: 10px;
}

.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
}

/* buttons edges butting together */
.fc-header .fc-button {
  margin-right: -1px;
}

.fc-header .fc-corner-right,
.fc-header .ui-corner-right {
  /* theme */
  margin-right: 0;
  /* back to normal */
}

/* button layering (for border precedence) */
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
}

.fc-header .fc-state-down {
  z-index: 3;
}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
}

/* Content
------------------------------------------------------------------------*/
.fc-content {
  clear: both;
  zoom: 1;
  /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
}

.fc-view {
  width: 100%;
  overflow: hidden;
}

/* Cell Styles
------------------------------------------------------------------------*/
.fc-widget-header,
.fc-widget-content {
  /* <td>, usually */
  border: 1px solid #ddd;
}

.fc-state-highlight {
  /* <td> today cell */
  /* TODO: add .fc-today to <th> */
  background: #fcf8e3;
}

.fc-cell-overlay {
  /* semi-transparent rectangle while dragging */
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */
}

/* Buttons
------------------------------------------------------------------------*/
.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
}

.fc-state-default {
  /* non-theme */
  border: 1px solid;
}

/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/
.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */
}

.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */
  font-weight: bold;
}

/* icon (for jquery ui) */
.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}

.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}

/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/
.fc-state-default {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  color: #333;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #fff !important;
  background-color: #767197 !important;
  border-color: #767197;
}

.fc-state-hover {
  color: #fff;
  text-decoration: none;
}
.fc-state-hover .fc-text-arrow {
  color: #fff;
}

.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

/* Global Event Styles
------------------------------------------------------------------------*/
.fc-event-container > * {
  z-index: 8;
}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
  z-index: 9;
}

.fc-event {
  border: 1px solid #2b3035;
  /* default BORDER color */
  background-color: #2b3035;
  /* default BACKGROUND color */
  color: #fff;
  /* default TEXT color */
  font-size: .85em;
  cursor: default;
}
.fc-event:hover {
  background-color: #767197;
  border-color: #767197;
}

a.fc-event {
  text-decoration: none;
}

a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}

.fc-rtl .fc-event {
  text-align: right;
}

.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}

.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  /* hacky spaces (IE6/7) */
  font-size: 300%;
  /* */
  line-height: 50%;
  /* */
}

/* Horizontal Events
------------------------------------------------------------------------*/
.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
  border-left-width: 1px;
}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
  border-right-width: 1px;
}

/* resizable */
.fc-event-hori .ui-resizable-e {
  top: 0           !important;
  /* importants override pre jquery ui 1.7 styles */
  right: -3px      !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
}

.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px       !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
}

.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px;
  /* IE6 had 0 height */
}

/* Reusable Separate-border Table
------------------------------------------------------------*/
table.fc-border-separate {
  border-collapse: separate;
}

.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
}

.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
}

.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
}

.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
}

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/
.fc-grid th {
  text-align: center;
}

.fc .fc-week-number {
  width: 22px;
  text-align: center;
}

.fc .fc-week-number div {
  padding: 0 2px;
}

.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
}

.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */
  /* opacity with small font can sometimes look too faded
	 might want to set the 'color' property instead
	 making day-numbers bold also fixes the problem */
}

.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px;
  /* distance between events and day edges */
}

/* event styles */
.fc-grid .fc-event-time {
  font-weight: bold;
}

/* right-to-left */
.fc-rtl .fc-grid .fc-day-number {
  float: left;
}

.fc-rtl .fc-grid .fc-event-time {
  float: right;
}

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/
.fc-agenda table {
  border-collapse: separate;
}

.fc-agenda-days th {
  text-align: center;
}

.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}

.fc-agenda .fc-week-number {
  font-weight: bold;
}

.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
}

/* make axis border take precedence */
.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
}

.fc-agenda-days .fc-col0 {
  border-left-width: 0;
}

/* all-day area */
.fc-agenda-allday th {
  border-width: 0 1px;
}

.fc-agenda-allday .fc-day-content {
  min-height: 34px;
  /* TODO: doesnt work well in quirksmode */
  _height: 34px;
}

/* divider (between all-day and slots) */
.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
}

.fc-widget-header .fc-agenda-divider-inner {
  background: #eee;
}

/* slot rows */
.fc-agenda-slots th {
  border-width: 1px 1px 0;
}

.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
}

.fc-agenda-slots td div {
  height: 20px;
}

.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
}

.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid;
  /* doesn't work with background in IE6/7 */
}

/* Vertical Events
------------------------------------------------------------------------*/
.fc-event-vert {
  border-width: 0 1px;
}

.fc-event-vert.fc-event-start {
  border-top-width: 1px;
}

.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
}

.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
}

.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
}

.fc-event-vert .fc-event-bg {
  /* makes the event lighter w/ a semi-transparent overlay  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
  filter: alpha(opacity=25);
}

.fc .ui-draggable-dragging .fc-event-bg,
.fc-select-helper .fc-event-bg {
  display: none\9;
  /* for IE6/7/8. nested opacity filters while dragging don't work */
}

/* resizable */
.fc-event-vert .ui-resizable-s {
  bottom: 0        !important;
  /* importants override pre jquery ui 1.7 styles */
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}

.fc-agenda .ui-resizable-resizing {
  /* TODO: better selector */
  _overflow: hidden;
}

/* =================================
   Mobile
   ================================= */
@media (max-width: 767px) {
  /* Sidebar Hide */
  #wrapper {
	padding-left: 0;
  }

  #sidebar-wrapper {
	left: 0;
  }

  #wrapper.active {
	position: relative;
	left: 64px;
  }

  #wrapper.active #sidebar-wrapper {
	left: 310px;
	width: 64px;
	transition: all 0.4s ease 0s;
  }

  /* Header */
  .user-dropdown span {
	display: none;
  }

  #show-menu {
	display: inline-block;
  }

  /* Custom Paddings */
  .main-content.padding {
	padding: 15px;
  }
}
/* =================================
   Demo styles, not needed...
   ================================= */
.demo-buttons button {
  margin-bottom: 10px;
}

.the-icons .col-sm-3 a [class^="icon-"], .the-icons .col-sm-3 a [class*=" icon-"] {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  text-align: right;
  width: 32px;
}

.the-icons a {
  color: #2b3035;
}

.light-blue {
	color: #3b7eaf;
}

.light-red {
	color: #E68A72;
}

.light-grey {
	color: #6B6B6B;
}

.light-green {
	color: #6CC644;
}

.mb10 {
	margin-bottom: 10px;
}

.p0 {
	padding: 0;
}


.products {
	border: 1px solid #F2F2F2;
	border-radius: 4px;
}
	  .products .item-product,
	  .products .item-chart {
			min-height: 430px;
			position: relative;
	  }
	  	.products .item-product .item-ifno {
			min-height: 250px;
			/*margin-bottom: 20px;*/
	  	}
	  	.products .item-product .item-detail {
			border-bottom: 1px solid #F2F2F2;
			text-align: center;
	  	}
	  		.products .item-product .item-details-info {
				padding-top: 10px;
	  		}
	  			.products .item-product .item-details-info ul {
	  				list-style: none;
	  				margin-left: 0;
	  				padding-left: 0;
	  			}
			.products .item-product .item-img {
				overflow: hidden;
				border-bottom: 1px solid #F2F2F2;
				min-height: 240px;
		  	}
		  		.products .item-product .item-img a {
		  			display: block;
		  		}
				.products .item-product .item-img img {
					max-width: 100%;
				}
				.products .item-product .item-img-vertical {
					overflow: hidden;
					text-align: center;
					min-height: 240px;
				}
			.products .item-product .item-title,
			.products .item-product .item-title a {
				text-align: center;
				font-size: 16px;
				color: #6b6b6b;
			}
			.products .item-product .item-title {
				border-bottom: 1px solid #F2F2F2;
				padding-bottom: 10px;
				padding-top: 10px;
			}

			.products .item-product .item-prices {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
				.products .item-product .item-prices .item-label {
					font-size: 14px;
					text-align: center;
				}
				.products .item-product .item-prices .lowest-price,
				.products .item-product .item-prices .current-price {
					font-size: 20px;
					font-weight: bold;
					text-align: center;;
				}
				.products .item-product .item-prices .high-price {
					font-size: 18px;
					font-weight: bold;
					text-align: center;
				}


.components .table .title {
	font-size: 26px;
	color: #2A2D33;
	text-transform: none;
}


.components .table tr th {
	font-size: 12px;
	color: #6C6D6F;
	text-transform: uppercase;
	vertical-align: bottom;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #6C6D6F;
	padding: 10px 0;
}
.components .table tr td {
	vertical-align: middle;
	color: #2A2D33;
	font-size: 18px;
	border-top: 1px solid #E2E2E2;
	padding: 8px 0;
}

.components .table .positive {
color: #259880;
}

.components .table .negative {
color: #E92121;
}

.components .table .col-1 {
	width: 45%;
}

.components .table .col-2 {
	width: 25%;
	text-align: center;
}

.components .table .col-3 {
	width: 15%;
	text-align: center;
}

.components .table .col-4 {
	width: 15%;
	text-align: center;
}



@media screen and (min-width: 1600px)  {

}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
	.products .item-product .item-img {
		min-height: 150px;
	}
	.products .item-product .item-title, .products .item-product .item-title a {
		font-size: 12px;
	}
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
	.products .item-product .item-img {
		min-height: 170px;
	}
}

/* monitors and laptops */
@media screen and (min-width: 1240px)  {}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

/* mobile */
@media screen and (max-width: 768px) {
	.products .item-product .item-prices {
		position: relative;
	}
	.products .item-product, .products .item-chart {
		min-height: initial;
	}
}

/* iPad in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {}

/* iPad in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}

/* Retina iPad in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {}

/* Retina iPad in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {}

/* iPad 1 & 2 in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){}

/* iPad 1 & 2 in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPad 1 & 2 in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) {}

/* iPad mini in portrait & landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPad mini in landscape */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPad mini in portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1)  {}

/* iPhone 5 in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {}

/* iPhone 5 in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {}

/* iPhone 5 in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {}

/* iPhone 2G-4S in portrait & landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

/* iPhone 2G-4S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {}

/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {}



.login-box {
	top: 120px;
	width: 400px;
	position: relative;
	margin: auto;
	padding: 20px;
	background: #ECEEF0;
	border: none;
	padding-left: 0;
	padding-right: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #FAFAFA;
	background-image: -moz-linear-gradient(top, #FFF, #F2F2F2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#F2F2F2));
	background-image: -webkit-linear-gradient(top, #FFF, #F2F2F2);
	background-image: -o-linear-gradient(top, #FFF, #F2F2F2);
	background-image: linear-gradient(to bottom, #FFF, #F2F2F2);
	background-repeat: repeat-x;
	border: 1px solid #D4D4D4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	-webkit-box-shadow: 1px 4px 31px rgba(0, 0, 0, 0.235);
	-moz-box-shadow: 1px 4px 31px rgba(0, 0, 0, 0.235);
	box-shadow: 1px 4px 31px rgba(0, 0, 0, 0.235);
}

.login-box form {
	margin-bottom: 0;
}

.login-box .login-logo {
	margin: 10px auto 30px auto;
	display: block;
	background: #767197;
}


.login-box .login-submit .btn {
	margin-bottom: 0;
}

.login-box .login-submit #user-forgot-password {
	float: right;
}

.login-box .login-submit {
	min-width: 97px;
}


/* iPad mini in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {
	body.login-page .container-fluid .content {
		padding-top: 163px;
	}
}
/* iPad mini in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 
	body.login-page .container-fluid .content {
		padding-top: 51px;
	}
}

/* iPad 3-4 in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	body.login-page .container-fluid .content {
		padding-top: 163px;
	}
}

/* iPad 3-4 in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { 
	body.login-page .container-fluid .content {
		padding-top: 36.5px;
	}
}

