
.icon-th-large:before { content: '\e803'; } /* '' */
.icon-th:before { content: '\e801'; } /* '' */
.icon-gauge:before { content: '\e802'; } /* '' */
.icon-airport:before { content: '\e800'; } /* '' */